h1 {
    color: rgb(157, 157, 157);
}
.header{
    background-color: rgb(211, 234, 254);
    display:flex;
    justify-content: space-between;
}
    .site-description{
        display: flex;
        flex-direction: column;
        justify-content: first baseline;
    }
    .grid{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .footer{
        display: flex;
        justify-content: flex-end;
    }
        P,h2{
            text-align: center;
        }
